html {
  line-height: 1.4;
  font-family: Roboto, serif;
  font-size: 18px;
  color: #D4A373;
  background-color: #E9EDC9;
}
body {
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
